* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;

}

:root {
    --template_bg: rgb(226, 180, 140);
    --template_color: rgb(74, 43, 15);

}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--template_bg);
    width: 100%;
    height: 95vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    overflow: hidden;
    place-items: center;
    color: var(--template_color);

}